body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #1a1a1a;
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

h1 {
    margin: 0;
}

section {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin: 20px;
    padding: 20px;
}

h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s; /* Smooth color transition on hover */
}

a:hover {
    color: #1a1a1a;
    text-decoration: underline;
}

footer {
    background-color: #1a1a1a;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Adjusted margin for better spacing */
section:last-child {
    margin-bottom: 40px;
}

@media (max-width: 600px) {
    header, section, footer {
        margin: 10px;
    }
}
